BOT_TOKEN=8983394526:AAGCQHlMA9XGniskIAW0-tbXQa2pxwLO_N4
URL_GOOGLE_FORM=https://forms.gle/RhtVwVvvLf5mfDg6A
DOCTOR_URL=https://t.me/elviaua
CHANNEL_URL=https://t.me/+FFxVL4O4OD8yMTQy
DOCTOR_ID=8645512094